{% extends 'layout/base.html' %}

{% block content %}

{{medicine_ID}}


                    <!-- Hidden ID -->
                    <input type="hidden" id="med_ID" value="{{medicine_ID}}">

                    <!-- Medicine Name -->
                    <div class="mb-3">
                        <label class="form-label">Medicine Name</label>
                        <input type="text" id="medicine_name" class="form-control" value="{{medicine_ID.medicine_name}}" required>
                    </div>

                    <!-- Category + Expiry -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Category</label>
                            <select class="form-select" id="category" value="{{medicine_ID.med_category}}">
                                <option value="">--------</option>
                                <option value="TAB">Tablet</option>
                                <option value="SYR">Syrup</option>
                                <option value="INJ">Injection</option>
                                <option value="CAP">Capsule</option>
                            </select>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label class="form-label">Expiry Date</label>
                            <input type="date" id="expiry_date" value="{{medicine_ID.expiry_date}}" class="form-control">
                        </div>
                    </div>

                    <!-- Price + Quantity -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Unit Price (₹)</label>
                            <input type="number" id="price" value="{{medicine_ID.price}}" class="form-control" step="0.01">
                        </div>

                        <div class="col-md-6 mb-3">
                            <label class="form-label">Quantity</label>
                            <input type="number" id="quantity" value="{{medicine_ID.quantity}}" class="form-control">
                        </div>
                    </div>

                    <!-- Stock Status -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Status</label>
                            <select class="form-select" value="{{medicine_ID.stock_status}}" id="stock_status">
                                <option value="">------</option>
                                <option value="Out of Stock">Out-of-Stock</option>
                                <option value="In Stock">In-stock</option>
                            </select>
                        </div>
                    </div>

            </div>

            <!-- Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-success px-4" onclick="update_medicine()"><a href="/update-medicine/"></a>
                    Save Entry
                </button>
            </div>

        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    
</script>
{% endblock %}