<nav id="sidebar" class="collapse d-lg-block">
        <div class="p-4">
            <h4 class="text-success fw-bold"><i class="bi bi-capsule-pill"></i> MedFlow</h4>
        </div>
        <ul class="nav flex-column">
            <li class="nav-item"><a href="/dashboard/" class="nav-link" onclick="showModule('dashboard')"><i class="bi bi-speedometer2"></i> Dashboard</a></li>
            <li class="nav-item"><a href="/medicine/" class="nav-link" onclick="showModule('medicine')"><i class="fa-solid fa-capsules"></i> Medicines</a></li>
            <li class="nav-item"><a href="/point-of-sale/" class="nav-link" onclick="showModule('pos')"><i class="bi bi-cart-check"></i> POS / Billing</a></li>
            <li class="nav-item"><a href="/inventory/" class="nav-link" onclick="showModule('inventory')"><i class="bi bi-box-seam"></i> Inventory</a></li>
            <li class="nav-item"><a href="/purchases/" class="nav-link" onclick="showModule('purchases')"><i class="bi bi-truck"></i> Purchases</a></li>
            <li class="nav-item"><a href="/reports/" class="nav-link" onclick="showModule('reports')"><i class="bi bi-graph-up"></i> Reports</a></li>
            <li class="nav-item mt-5"><a href="/login/" class="nav-link text-danger"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
        </ul>
</nav>